* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 70px;
	width: 100%;
	background-color: #ec715f;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 1024px;
	/*margin: 0 auto;*/
}
a {
	text-decoration: none;
}
.logo {
	height: 70px;
	float: left;
}

.nav {
	float: right;
}
.nav-list {
	float: left;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
	line-height: 70px;
}
.nav-list a {
	color: #FAFAFA;
}

#mainvisual {
	width: 100%;
	height: 650px;
	text-align: center;
	color: #FAFAFA;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.mainvisual-title {
	padding-top: 200px;
	font-size: 64px;
}
.mainvisual-text {
	padding-top: 10px;
	font-size: 20px;
}

#portfolio {
	background-color: #eceff1;
}
.heading {
	padding-top: 90px;
	text-align: center;
	font-size: 32px;
}
.heading::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #ec715f;
}
.heading-text {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 16px;
}
.img-group {
	width: 920px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.img {
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
}
.img:nth-child(-n+3) {
    margin-top: 0;
}
.img:nth-child(3n) {
    margin-right: 0;
}
.img1 {
	background-image: url(img/sketch.jpg);
}
.img2 {
	background-image: url(img/websuku.png);
}
.img3 {
	background-image: url(img/write.jpg);
}
.img4 {
	background-image: url(img/webcamp.png);
}
.img5 {
	background-image: url(img/talk.jpg);
}
.img6 {
	background-image: url(img/webcamp-mother.png);
}

#feature {
	background-size: cover;
	background-position: center;
}
.stregth-group {
	width: 980px;
	padding: 30px 0 90px 0;
}
.strength {
	float: left;
	width: 320px;
	margin-right: 10px;
	text-align: center;
	font-size: 60px;
}
.strength:last-child {
    margin-right: 0;
}
.strength-title {
	padding: 10px 0;
	font-size: 20px;
	color: #000000
}
.strength-text {
	text-align: center;
	font-size: 16px;
	margin-bottom: 90px;
}


#profile {
	background-color: #eceff1;
	/*width: 100%*/
}
.profile-group {
	padding: 30px 0 90px 0;
}
.left-content {
	float: left;
	width: 50%;
}
.my-face {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}
.discription-title {
	margin: 20px 0 5px 0;
	font-size: 20px;
}
.description-title:first-child {
	margin-top: 0;
}
.right-content {
	width: 50%;
	float: right;
}
.description-text {
	font-size: 16px;
}

.contact-group {
	width: 800px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.left-contact-content {
	width: 130px;
	margin: 0 auto;
}
.discription-text {
    font-size: 16px;
}
.link-text {
    text-decoration: underline;
    color: #212121;
}
.right-contact-content {
    width: 170px;
    margin: 0 auto;
}
.right-contact-content .fa:last-child {
    margin-right: 0;
}
.right-contact-content .fa {
    font-size: 50px;
    margin-right: 20px;
    float: left;
}
.fa {
	display: inline-block;
}
footer {
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	line-height: 60px;
}
.copyright {
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
}
 /*レスポンシブ対応 */
 @media screen and (max-width: 767px) {
 	.container {
 		width: 90%;
 		margin: 0 auto;
 	}
 	header {
 		height: 50px;
 	}
 	.logo {
    float: none;
    height: 50px;
	}
	.menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
	}
	.list-bar:first-child {
    margin-top: 10px;
	}
	.list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
	}
	.nav {
    float: none;
	}
	.nav-list {
    display: none;
    float: none;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: rgba(0,0,0,.9);
	}
	.nav-list:last-child {
    border: none;
	}
	#mainvisual {
		width: 100%;
		background-image: url(img/code.png);
	}
	.mainvisual-title {
		font-size: 64px;
	}
	.mainvisual-text {
		font-size: 18px;
	}
	#portfolio {
    padding: 0 5%;
	}
	.img-group {
    width: 300px;
	}
	.img {
    float: none;
	}
	.sp-none {
		display: none;
	}
	#feature {
    padding: 0 5%;
    background-size: cover;
    background-position: center;
	}
	.strength-group {
    width: 320px;
    margin: auto;
	}
	.strength:first-child {
    margin-top: 0;
	}
	.strength {
    float: none;
    margin-top: 10px;
	}
	#profile {
    padding: 0 5%;
	}
	.profile-group {
    text-align: center;
	}
	.left-content {
    float: none;
    width: 100%;
	}
	.right-content {
    float: none;
    width: 100%;
	}
	.discription-title:first-child {
    margin-top: 20px;
	}
	#contact {
    padding: 0 5%;
	}
	.contact-group {
    width: 100%;
    text-align: center;
	}
	.left-content {
    float: none;
    width: 100%;
	}
	.left-contact-content {
    width: 100%;
	}
	.discription-title:first-child {
    margin-top: 20px;
	}
	.right-content {
    float: none;
    width: 100%;
    /*margin: auto;*/
	}
	.right-contact-content {
    width: 100%;
    margin-top: 20px;
	}
	.right-contact-content .fa {
    /*font-size: 50px;*/
    margin-right: 8px;
    float: none;
	}
 }